.archive-home-container {
    text-align: center;
}

.archive-home-container > div {
    margin-bottom: 20px;
}

.archive-home-container button {
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.archive-header {
    font-size: 14px;
}

.archive-home-title {
    font-size: 36px;
    font-weight: bold;
}

.archive-levis-customer {
    display: flex;
    border-bottom: solid black;
    padding-bottom: 50px;
}

.archive-levis-customer-left {
    border-right: solid black;
    display: flex;
    /* align-items: center; */
}

.archive-new-customer {
    padding-bottom: 50px;
}


.archive-levis-customer > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.archive-home-large {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;

}

.archive-home-medium {
    font-size: 16px
}

.archive-home-small {
    font-size: 12px
}

.archive-home-container button {
    text-decoration: none;
    height: 48px;
    width: 70%;   
    /* outline: black solid; */
}

.archive-home-pc9-tag {
    background-color: lightgray;
    font-size: 10px;
    font-weight: bold;
    height: 70px;
    width: 100px;
    border: solid black;
    padding: 5px 5px 10px 5px;
    margin-left: calc(50% - 50px);
}

.archive-home-pc9-tag div {
    margin-bottom: 5px;
}


.archive-home-main-image {
    width: 100%
}

.archive-home-main-image img{
    object-fit: scale-down;
}