.gallery-headline {
    text-align: center;
    font-size: 24px;
    font-family: Helvetica;
    font-weight: bold;
    margin: 18px 25px 18px 26px;
}

.gallery-next-button {
    margin: 40px 10%;
    width: 80%;
    height: 48px;
    font-size: 16px;
    color: white;
    padding: 10px 15px;
    border-radius: 3px;
    border: solid 1px #0a0b20;
    background-color: #0a0b20;

}

.gallery-next-button.disabled {
    background-color: #f3f3f3;
    color: #b1b1b1;
    cursor: default;
}